@model List<BooksApp.Domain.Entities.Publisher>

@{
    ViewBag.Title = "Publishers";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item active">Publishers</li>
</ol>

<h4 class="text-center my-3">List of Publishers</h4>

<div class="container">
    <div class="row g-3 justify-content-center">
        @foreach (var publisher in Model)
        {
            <div class="col-sm-6 col-md-4 col-lg-3 mb-4 mx-2 card bg-light" style="max-width: 19rem;">
                <div class="card-header">
                    @Html.ActionLink(
                        publisher.Name, 
                        "GetBooks", 
                        "Publishers", 
                        new { id = publisher.Id }, 
                        new { @class = "tooltip-link", 
                                @data_bs_toggle = "tooltip", 
                                @data_bs_placement = "bottom", 
                                @data_bs_original_title = "Click to view books" }
                    )
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <span class="bold">
                            <strong>@Html.DisplayNameFor(model => model.First().Country):</strong>
                        </span>
                    @Html.DisplayFor(modelItem => publisher.Country)
                    </p>
                    <p class="card-text">
                        <span>
                            <strong>@Html.DisplayNameFor(model => model.First().Email):</strong>
                        </span>
                     @Html.DisplayFor(modelItem => publisher.Email)
                    </p>
                </div>
            </div>
        }
    </div>
</div>

