@model List<BooksApp.Domain.Entities.FictionBook>

@{
    ViewBag.Title = "Fiction Book Details";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().AgeRestrictions)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => book.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => book.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => book.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => book.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => book.AgeRestrictions)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@book.Id" class="btn btn-warning">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@book.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="Create" class="btn btn-primary">Add New Book</a>
</p>